# Created by https://www.toptal.com/developers/gitignore/api/ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=ansible

### Ansible ###
*.retry

# End of https://www.toptal.com/developers/gitignore/api/ansible

# ignore editor
.idea
.vscode
.schema

.env
Makefile

# docker
docker/*/id_rsa*
docker/product/sshd_config

roles/nfs_ganesha/files/exports
roles/nfs_ganesha/templates/*
